# macOS
.DS_Store

# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# Certificates & config
*.p12
*.cer
*.mobileprovision
*.env
